@{
    ViewData["Title"] = "Home Page";
}

@if (@TempData["nomeUsuario"] != null)
{
    @Html.ActionLink("Deslogar", "Logout", "Login", null, null)

    <div class="text-center">
        <h1 class="display-4">Seja bem vindo <b>@TempData["nomeUsuario"]</b> ao Projeto MVC</h1>
    </div>

}else
{
    @Html.ActionLink("Logar", "Index", "Login", null, null)

    <div class="text-center">
        <h1 class="display-4">Seja bem vindo ao Projeto MVC</h1>
    </div>
}
